@navColor: #fff;
@fs14: 14px;
@fs12: 12px;


html,
body {
    height: 100%;
}
/*iscroll的列表滑动需要 高度100%*/
#app {
    font-size: @fs14;
    height: 100%;
}

/* 导航 */
#nav  {
    background: red;
    color: #fff;
    a.router-link-exact-active{
        color: @navColor
    }
    
}

/*九宫格图片*/
.nine-gridview {
    box-sizing: border-box;
    width: 98%;
    margin: 0 auto;

    li {
        box-sizing: border-box;
        position: relative;
        float: left;
        margin: 0 2.16%;
        margin-bottom: 0.2703rem;
        width: calc(87% / 3);
        padding-top: calc(87% / 3);

        img {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

    }
}

/*swiper 预览图样式*/
#origin-img {
    display: block;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    .swiper-slide {
        img {
            width: 100%;
            vertical-align: middle;
        }
    }
    .swiper-pagination {
        font-size: @fs12;
        top: 0.4324rem;
        bottom: auto;
        color: #fff;
    }
    .img-info {
        position: absolute;
        font-size: @fs14;
        bottom: 0.2703rem;
        line-height: @fs12;
        background: rgba(0, 0, 0, .5);
        z-index: 1;
        color: #fff;
        text-indent: @fs12;
        width: 100%;
    }
}


/*
* 验证组件
*/

.cube-validator-msg{
    
    text-align: right;
    padding: 5px 0;
}